    <!--
    Essential Scripts
    =====================================-->


    <!-- jQuery -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- filter -->
    <script src="plugins/shuffle/shuffle.min.js"></script>
    <script src="plugins/SyoTimer/jquery.syotimer.min.js"></script>

    <script src="js/script.js"></script>

    </body>

    </html>
