.call-to-action-bg {
	background-image: url("../images/call-to-action-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.feature-bg {
	background: url("../images/feature-bg.png");
	background-size: cover;
	background-attachment: fixed;
}

.contact-bg {
	background: url("../images/contact-bg.png");
	background-size: cover;
	background-attachment: fixed;
}
