<!-- Service Start -->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2>Hauptmerkmale</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about-item">
          <i class="icon ion-cash"></i>
          <h4>Virtuelle Konten</h4>
          <p>Jede Kita, Schule oder Tageseltern in Deutschland haben ein eigenes, virtuelles Konto zur Verwaltung ihrer zugewiesenen Stiftungsvermögen.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about-item">
          <i class="ion-eye"></i>
          <h4>Finanzielle Transparenz</h4>
          <p>Wir bieten detaillierte Informationen über den aktuellen Kontostand jeder Bildungseinrichtung und die Herkunft ihrer Mittel.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about-item">
          <i class="ion-android-people"></i>
          <h4>Kollaborativer Vermögensaufbau</h4>
          <p>Unser gemeinsames Konto hilft, Startkapital für neu hinzukommende Bildungseinrichtungen bereitzustellen und gewährleistet eine bedeutende finanzielle Unterstützung.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
