<!-- Wrapper Start -->
<section class="mission section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="block">
					<div class="section-title">
						<h2>Unsere Mission</h2>
						<p>Die Deutsche Bildungsstiftung widmet sich der finanziellen Unterstützung von Schulen in ganz Deutschland. Durch unser innovatives System virtueller Konten und unseren kollaborativen Ansatz zum Vermögensaufbau streben wir danach, einen dauerhaften positiven Einfluss auf die Bildung zu nehmen.

						</p>
					</div>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5">
				<div class="block">
					<img src="images/wrapper-img.png" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>
