<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="animated fadeInUp">Willkommen bei der Deutschen Bildungsstiftung
</h1>
					<p class="animated fadeInUp">Förderung der Bildung in ganz Deutschland durch kollaborativen Vermögensaufbau und transparente Fondsverwaltung.

					</p>
					<a href="https://themefisher.com/free-bootstrap-templates/" class="btn btn-main animated fadeInUp" >Free Bootstrap Templates</a>
				</div>
			</div>
		</div>
	</div>
</section>
