<!-- Content Start -->
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2>Zahlen und Fakten</h2>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <ul class="counter-box ">
            <li>
              <div class="counter-item">
                <i class="ion-ios-paper"></i>
                <h4 class="count" data-count="45">0</h4>
                <span>Registrierte Einrichtungen</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="ion-social-euro-outline"></i>
                <h4 class="count" data-count="99">0</h4>
                <span>Ausschüttungen</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="ion-cash  "></i>
                <h4 class="count" data-count="125">0</h4>
                <span>Spenden</span>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </div>
</section>
